
/* ================= GLOBAL ================= */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Oswald', sans-serif;
    background:url("gym_web_1.jpg") center/cover no-repeat;
    min-height:100vh;
    color:white;
    position:relative;
}

/* Dark overlay */
body::before{
    content:"";
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:-1;
}

/* ================= HEADER ================= */
header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    font-size:32px;
    font-weight:700;
}

.logo span:last-child{
    color:yellow;
}

/* ================= NAV ================= */
nav ul{
    display:flex;
    gap:30px;
    list-style:none;
    align-items:center;
}

nav a{
    text-decoration:none;
    color:white;
    font-size:18px;
    transition:0.3s;
}

.btn-call{
    padding:12px 30px;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
    font-weight:bold;
    transition:0.4s;
    background-color: rgb(19, 226, 36);
    position: absolute;
    bottom: 10%;
    left: 50%;
}

.h1_1{
    position: absolute;
    top: 25%;
    left: 45%;
    font-size: 300%;
}

.h1_2{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 200%;
}